./local/*
running_models/*
running_preds/*
runs/*
.jupyter/*
.local/
.viminfo
.cache/*
.config/*
.gitconfig
.ipython/*
.jarviscloud/*
.kaggle/*
running_models/*
**/.ipynb_checkpoints/*
**/__pycache__/*
data/kaggle.json
data/metadatas/sign_mnist_metadata.csv
data/raw_sign_language_mnist/*
data/sign_language_images/*
